# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\code c++\code_from_web\hi_ae\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
